<footer class="page-footer teal lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h4 class="home-logo">mySongs</h4>
        <p>Keep having a good day</p>
      </div>
      <!-- <div class="col l4 offset-l2 s12"> -->
        <div class="col l4 s12">
        <ul>
          <br>
          <li><a class="grey-text text-lighten-3" href="https://github.com/grace000/"><i class="fa fa-github"></i> Github</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/tiffani-elmore"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright center teal darken-1">
    <div class="container">
    © <%= Time.current.year %> Tiffani Elmore
    </div>
  </div>
</footer>