<footer class="page-footer teal darken-1">
  <div class="footer-copyright">
    <div class="container">
      © <%= Time.current.year %> Tiffani Elmore
      <div>
        <a href="https://github.com/grace000/"><i class="fa fa-github"></i> Github</a>
        <a href="https://www.linkedin.com/in/tiffani-elmore"><i class="fa fa-linkedin"></i> LinkedIn</a>
      </div>
    </div>
  </div>
</footer>